@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import url(https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css);
@import "styles/ItemCard.less";
@import "styles/FormCard.less";

html, body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding-top: ~"calc(64px + 2rem)";
}

.grid-list {
  flex: 0 0 auto;

  .grid-list-item {
    width: 400px;
  }
}
