@import "styles/ItemCard.less";
@import "styles/FormCard.less";

html, body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding-top: ~"calc(64px + 2rem)";
}

.grid-list {
  flex: 0 0 auto;

  .grid-list-item {
    width: 400px;
  }
}
